@page
@model OPM.SFS.Web.Pages.Academia.CommitmentDashboardModel
@{
	Layout = "_PILayout";
}

<div class="grid-container">
	<div class="grid-row">
		<div class="grid-col">

			<h3>Principal Investigators: <i>Commitment Dashboard</i></h3>
			<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Principal Investigator - SFS Commitment Dashboard</h3>
    <p class="usa-alert-text">The commitment dashboard displays a report of
                               commitments in the database.  By selecting a commitment approval status, start and end dates, the user can populate the dashboard with
                the total number of commitments for the selected approval status and date range as well as the number of commitments by agency, agency type, commitment type, and commitment and agency type combined. 



        </p>                            
                                    
  </div>
</div>
			
			<br />
			<form method="post" class="usa-form-large">
				<div class="control-group validate-input">
					<label for="ddlCommitmentApprovalStatus">*Approval Status</label>
					<select id="ddlCommitmentApprovalStatus" class="agencySelect" asp-items="Model.Data.ApprovalStatusList" asp-for="Data.ApprovalStatus">
						<option value="0">-- Select --</option>
					</select>
					<span asp-validation-for="Data.ApprovalStatus"></span>
				</div>
				<div class="control-group validate-input">
					<label for="txtStartDate" class="no-margin-top">From</label>
					<input type="text" id="txtStartDate" asp-for="Data.LastApprovedStartdate" placeholder="mm/dd/yyyy">
					<span asp-validation-for="Data.LastApprovedStartdate"></span>
				</div>
				<div class="control-group validate-input">
					<label for="txtEndDate" class="no-margin-top">To</label>
					<input type="text" id="txtEndDate" asp-for="Data.LastApprovedEndDate" placeholder="mm/dd/yyyy">
					<span asp-validation-for="Data.LastApprovedStartdate"></span>
				</div>
				<input type="submit" value="Update Results" class="usa-button">
			</form>


			<div class="admin-commitment-results">
				<table border="2" style="margin:auto; text-align:center">
					<tbody>
						<tr style="background-color:lavender">
							<td colspan="4" style="font-weight:bold; font-size:large">
								Commitment(s) By Agency Type
							</td>
						</tr>
						<tr>
							<td colspan="4" style="color:darkblue">@Model.Data.ReportDescription</td>
						</tr>
						<tr style="color:blue">
							<td>Agency Type</td>
							<td>Total</td>
							<td>Percentage</td>
						</tr>
						@if (Model.Data != null && Model.Data.CommitmentsByAgencyType != null)
						{
							@foreach (var item in Model.Data.CommitmentsByAgencyType)
							{
								<tr>
									<td style="width:200px;text-align:left;">@item.TypeName</td>
									<td style="width:200px;text-align:center;">@item.Total</td>
									<td style="width:75px;text-align:center;">@item.Percentage </td>
								</tr>
							}
						}
					</tbody>
				</table>
				<br /><br />
				<table border="2" style="margin: auto; text-align: center">
					<tbody>
						<tr style="background-color:lavender">
							<td colspan="3" style="font-weight:bold; font-size:large">
								Commitment(s) By Commitment Type
							</td>
						</tr>
						<tr>
							<td colspan="3" style="color:darkblue">@Model.Data.ReportDescription</td>
						</tr>
						<tr style="color:blue">
							<td>Commitment Type</td>
							<td>Total</td>
						</tr>
						@if (Model.Data != null && Model.Data.CommitmentsByType != null)
						{
							@foreach (var item in Model.Data.CommitmentsByType)
							{
								<tr>
									<td style="width:200px;text-align:left;">@item.TypeName</td>
									<td style="width:75px;text-align:center;">@item.Total</td>
								</tr>
							}
						}

					</tbody>
				</table>

			</div>
		</div>

	</div>
</div>