@page
@model OPM.SFS.Web.Pages.Admin.PasswordAdministrationModel
@{
	Layout = "_AdminLayout";
}
<div class="grid-container-widescreen">
	<div class="grid-row">
		<div class="grid-col">
			<nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
			  <ol class="usa-breadcrumb__list">
				<li class="usa-breadcrumb__list-item">
				  <a href="/Admin/Home" class="usa-breadcrumb__link">
					<span>Home</span>
				  </a>
				</li>
				<li class="usa-breadcrumb__list-item usa-current" aria-current="page">
				  <span>Password Administration</span>
				</li>
			  </ol>
			</nav>
			  @if(Model.Data.ShowSuccessMessage){
				<div class="usa-alert usa-alert-success">
					<div class="usa-alert-body">
						<p class="usa-alert-text">
							Password reset email sent successfully to @Model.Data.Recipient
						</p>
					</div>
			   </div>
			}   

			<form method="post" class="usa-form-large">
					<input id="radSearchStudent" asp-for="Data.SearchOption" type="radio" value="Student">
					<label for="radSearchStudent">Student</label>

					<input id="radSearchAO" asp-for="Data.SearchOption"  type="radio" value="AO">
					<label for="radSearchAO">Agency Official</label>

					<input id="radSearchPI" asp-for="Data.SearchOption"  type="radio" value="PI">
					<label for="radSearchAO">Principal Investigator</label>

					<div class="control-group validate-input">
						<label for="txtSearchFilter">*Email</label>
						<input type="text" id="txtSearchFilter" asp-for="Data.SearchFilter">
						<span asp-validation-for="Data.SearchFilter"></span>
					</div>
					<input type="submit" value="Search" class="usa-button" />
				</form>

				@if(Model.Data.Accounts.Count() > 0)
				{					
					<table>
						 <thead>
							<tr>								
								<th>First Name</th>
								<th>Last Name</th>							
								<th>Email</th>
								<th></th>
							</tr>
						</thead>
						<tbody>							
							@foreach(var item in Model.Data.Accounts)
							{
								<tr>									
									<td>@item.FirstName</td>
									<td>@item.LastName</td>
									<td>@item.Email</td>
									<td><a href="?handler=SendEmail&sid=@item.AccountID&type=@item.Type">Send Temp Password</a></td>								
								</tr>
							}							
					</table>			
				}
				<h3>@Model.Data.SearchResultsMessage</h3>
		</div>
	</div>
</div>